.edit{
    border-radius: 50%;
    border: 5px solid #d1cfd0;
    height: 150px;
    width: 150px;
    align-self: center;
}
.container-div{ 
    margin-top: -160px;
    display: flex;
    height: 300px;
    width: 100%; 
    align-items: center;
    justify-content: center;
    }
.gris{
    width: 100%;
    height: 100px;
    background-color:#f8f8f8;
    border-bottom: 1px solid #ebebeb

}